@charset "UTF-8";

/* Estilo para tela */

*{
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color:beige;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: rgb(85, 85, 79);
}

menu li {
    background-color: rgba(245, 245, 220, 0.527);
    color: black;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}